// out: main.min.css, compress: true, sourcemap: true
@import '_core/_color.styl';
@import '_core/_reset.styl';
@import '_modules/_header.styl';
@import '_layout/_top.styl';

h1, h2, h3, h4, h5, h6, p
  margin: 0 0 20px

a, a:link, a:visited, a:hover, a:active
  text-decoration: none
