<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>{{page.title}} - How to make a website</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/How-to-make-a-website/css/main.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  </head>
  <body>
    <nav class="header">
      <a class="header__link" href="/How-to-make-a-website/">How to make a website?</a>
    </nav>
    <div class="contents">
      {{content}}
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
